.container-fluid{
    min-width: 1300px;
}

.reviewsHeader{
    padding: 10px;
    border-bottom: 2px solid blue;
}

.hover-row, .reviewContent{
    padding: 10px;
}

.collapse.in{
    display:flex;
}

.hover-row:hover{
    background-color: lightslategray;
    cursor: pointer;
    color: white;
}

.reviewContent:hover{
    background-color: lightblue;
    cursor: pointer;
}

.empReviewHeader{
    color: brown;
}